main {
  a {
    text-decoration: none;
  }
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 250px);
  div {
    box-shadow: purple 0px 0px 5px;
    height: 310px;
    width: 250px;
    border-radius: 10px;
    img {
      height: 250px;
      width: 250px;
      border-radius: 11px 11px 3px 3px;
    }
    p {
      margin-left: 10px;
      font-weight: 700;
    }
    m {
      margin-left: 10px;
      display: flex;
      align-items: center;
      i {
        margin-right: 10px;
      }
    }
    &:hover {
      box-shadow: purple 0px 0px 10px;
      border-radius: 15px;
      height: 320px;
      width: 260px;
      img {
        border-radius: 15px 15px 3px 3px;
        height: 260px;
        width: 260px;
      }
    }
  }
}
